/*---------------------------------------------------

    LESS Elements 0.6

  ---------------------------------------------------

    A set of useful LESS mixins by Dmitry Fadeyev

    Special thanks for mixin suggestions to:

      Kris Van Herzeele,

      Benoit Adam,

      Portenart Emile-Victor,

      Ryan Faerman



    More info at: http://lesselements.com

-----------------------------------------------------*/

.brand { font-family: 'droid_sansregular', Verdana, Arial, sans-serif; }

.brand .first { color: #ccc; font-style: italic; }

.brand .second { color: #fff; font-weight: bold; }

.placeholder { outline: 1px dashed #4183C4; -webkit-border-radius: 3px; -moz-border-radius: 3px;	border-radius: 3px;	margin: -1px; }

.mjs-nestedSortable-error { background: #fbe3e4; border-color: transparent; }

ol.sortable{ margin: 0; padding: 0;}

ol.sortable, ol.sortable ol { margin: 0 0 0 25px; padding: 0; list-style-type: none; }

ol.sortable { margin: 0.1em 0;}

.sortable li { margin: 5px 0 0 0; padding: 0;}

.sortable li div  {

	border: 1px solid #d4d4d4;

	-webkit-border-radius: 3px;

	-moz-border-radius: 3px;

	border-radius: 3px;

	border-color: #D4D4D4 #D4D4D4 #BCBCBC;

	padding: 6px;

	margin: 0;

	cursor: move;

	background: #f6f6f6;

	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));

	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);

	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);

	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);

	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );

}

.sortable li.mjs-nestedSortable-branch div {

	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);

	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);

}

.sortable li.mjs-nestedSortable-leaf div {

	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);

	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#bcccbc 100%);

}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div { border-color: #999; background: #fafafa;}

.disclose { cursor: pointer; width: 10px; display: none; }

.sortable li.mjs-nestedSortable-collapsed > ol { display: none;}

.sortable li.mjs-nestedSortable-branch > div > .disclose { display: inline-block;}

.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before { content: '+ '; }

.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before { content: '- '; }

#dropdown-limited{ max-height: 120px; overflow: auto;}



















ol.sortable{ margin: 0; padding: 0;}

ol.sortable, ol.sortable ol { margin: -6px 200px 0px 200px; padding: 0; list-style-type: none; }

/*ol.sortable { margin: 0.1em 0;}*/

.sortable li { margin: 5px 0 0 0; padding: 0;}

.sortable li div  {

	border: 1px solid #d4d4d4;

	-webkit-border-radius: 3px;

	-moz-border-radius: 3px;

	border-radius: 3px;

	border-color: #D4D4D4 #D4D4D4 #BCBCBC;

	padding: 6px;

	margin: 0;

	cursor: move;

	background: #f6f6f6;

	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));

	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);

	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);

	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);

	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );

}

.sortable li.mjs-nestedSortable-branch div {

	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);

	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);

}

.sortable li.mjs-nestedSortable-leaf div {

	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);

	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#bcccbc 100%);

}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div { border-color: #999; background: #fafafa;}

.disclose { cursor: pointer; width: 10px; display: none; }

.sortable li.mjs-nestedSortable-collapsed > ol { display: none;}

.sortable li.mjs-nestedSortable-branch > div > .disclose { display: inline-block;}

.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before { content: '+ '; }

.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before { content: '- '; }

#dropdown-limited{ max-height: 120px; overflow: auto;}



ol.bsortable{ margin: 0; padding: 0;}

ol.bsortable, ol.bsortable ol { margin: 0 0 0 25px; padding: 0; list-style-type: none; }

ol.bsortable { margin: 0.1em 0;}

.bsortable li { margin: 5px 0 0 0; padding: 0;}

.bsortable li div  {

	border: 1px solid #d4d4d4;

	-webkit-border-radius: 3px;

	-moz-border-radius: 3px;

	border-radius: 3px;

	border-color: #D4D4D4 #D4D4D4 #BCBCBC;

	padding: 6px;

	margin: 0;

	cursor: move;

	background: #f6f6f6;

	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));

	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);

	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);

	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);

	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );

}

.bsortable li.mjs-nestedbSortable-branch div {

	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);

	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);

}

.bsortable li.mjs-nestedbSortable-leaf div {

	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);

	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#bcccbc 100%);

}

li.mjs-nestedbSortable-collapsed.mjs-nestedbSortable-hovering div { border-color: #999; background: #fafafa;}

.disclose { cursor: pointer; width: 10px; display: none; }

.bsortable li.mjs-nestedbSortable-collapsed > ol { display: none;}

.bsortable li.mjs-nestedbSortable-branch > div > .disclose { display: inline-block;}

.bsortable li.mjs-nestedbSortable-collapsed > div > .disclose > span:before { content: '+ '; }

.bsortable li.mjs-nestedbSortable-expanded > div > .disclose > span:before { content: '- '; }

#dropdown-limited{ max-height: 120px; overflow: auto;}